---
layout: default
title: Projects
permalink: /projects/
---

<section class="timeline">
  <h1>Projects</h1>
  {% assign sorted_projects = site.projects | sort: "sort_order" | reverse %}

  {% for project in sorted_projects %}
  {% assign side = forloop.index0 | modulo: 2 | plus: 0 %}
  <div class="timeline-item {% if side == 0 %}left{% else %}right{% endif %}">
    <div class="timeline-date">{{ project.season }}</div>
    <div class="timeline-content">
      <h2>{{ project.title }}</h2>
      <h3>{{ project.course }} | {{project.languages}}</h3>
      <h4>{{ project.excerpt }}</h4>
    </div>
  </div>
  {% endfor %}
</section>